[submodule "themes/hugo-theme-minos"]
	path = themes/hugo-theme-minos
	url = https://github.com/carsonip/hugo-theme-minos.git
[submodule "static/static"]
	path = static/static
	url = git@github.com:aarmea/AlbertArmea.com-static.git
[submodule "public"]
	path = public
	url = git@github.com:aarmea/aarmea.github.io.git
